<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Forum</title>
	<div th:replace="forum/head :: head"></div>
</head>

<body>

	<main>
		<div th:replace="forum/navbar :: navbar"></div>
		<!--		<div th:replace="forum/navbar.html :: navbar"></div>-->
		<!--		<header th:insert="forum/navbar.html :: navbar"></header>-->
		<h1>My Posts</h1>
		<div class="posts" th:each="post :${posts}">
			<!--            <h2><span th:text="${post.content}"></span></h1>-->
			<h3 class="italic">Post by <span class="userId" th:text="${post.author.name}">John Doe</span></h1>
				<p th:text="${post.updatedAt}"></p>
				<h3 class="italic" th:if="${post.updatedAt} == NULL">Created at: <span
						th:text="${#calendars.format(post.createdAt, 'dd/MMM/yyyy HH:mm z')}"></span></h3>
				<h3 class="italic" th:if="${post.updatedAt} != NULL">Updated at: <span
						th:text="${#calendars.format(post.updatedAt, 'dd/MMM/yyyy HH:mm z')}"></span></h3>
				<p th:text="${post.title}">Title</p>
				<p th:text="${post.content}">This is a post.</p>
				<!--            <form method="post" action="#" th:action="@{/forum/post/{id}/like(id = ${post.id})}">-->
				<!--				<input type="hidden" th:name="likerName" th:value="${likerName}">-->
				<!--                <input type="submit" value="Like!">-->
				<!--            </form>-->
				<form method="get" action="#" th:action="@{/forum/post/{id}/edit(id = ${post.id})}">
					<input type="submit" value="edit">
				</form>
				<form method="post" action="#" th:action="@{/forum/post/{id}/delete(id = ${post.id})}" id="myForm">
					<input type="submit" value="Delete">
				</form>
				<form action="#" th:action="@{/forum/post/{id}(id = ${post.id})}" method="get">
					<input type="submit" value="View Comments">
				</form>
		</div>
	</main>


	<script>
		document.getElementById("myForm").addEventListener("submit", function (event) {
			var confirmation = window.confirm("Are you sure you want to delete ?");
			if (!confirmation) {
				event.preventDefault(); // Prevent the form submission if the user cancels
			}
		});

	</script>

</body>

</html>